.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
    background-image: url("../public/images/background-dogs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.6);
  }
}

.container {
  width: 100%;
}
